<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="ResourceLocator" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="ResourceLocator" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="ResourceLocator" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="ResourceLocator">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Resource Locator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/chosen.min.css" />
    <link rel="stylesheet" href="css/form.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <script src='https://platform.venmo.com/sdk.js'></script>
  </head>

  <body ng-controller="ResourcesIndexController" >
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" href="http://girldevelopit.com"><img src="images/gdi-logo.png" alt="Girl Develop It Logo"/></a>
              </div>
              <p class="tagline">Get started with help and resources in your own community </p>

              <div class="btn-group pull-right">
                <button class="btn btn-primary" type="button">Contribute</button>
                <button aria-expanded="false" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul role="menu" class="dropdown-menu">
                  <li><a href="#" ng-click="toggleStoryModal()" data-toggle="modal" data-target="#tellYourStory">Contribute a story</a></li>
                  <li><a href="#">Be a mentor</a></li>
                  <li><a href="#" ng-click="toggleResourceModal()" data-toggle="modal" data-target="#addResource">List a resource</a></li>
                  <li class="divider"></li>
                  <li> <div class="text-center">Donate to our Scholarship Fund
                          <a class="venmo-pay-button" data-recipient-id="1397129314566144218"></a></div></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div submit ng-show="storyModalShown"></div>
    <div resource ng-show="resourceModalShown"></div>
    <div class="main-wrapper">
      <div ng-view></div>

    </div>

    <footer class="brand">
      <div class="container-fluid">

        <p>Made with love by Team Warrior Princess at Battlehack Raleigh.</p> <i>To learn about ways to support Girl Develop It, email us at sponsorships@girldevelopit.com or visit our Donate page.</i>
      </div>
    </footer>

    <!-- Load Js libs -->
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/bootstrap.js"></script>
    <script src="/js/vendor/angular.js"></script>
    <script src="/js/vendor/angular-route.js"></script>
    <script src="/js/vendor/angular-resource.js"></script>



    <script src="/js/vendor/angular-resource.js"></script>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/routes.js"></script>

    <script src="/js/vendor/raphael-min.js"></script>
    <script src="/js/vendor/jquery.mapael.js"></script>

    <script src="js//vendor/usa_states.js"></script>

    <!-- Directives -->
    <script src="/js/directives/nw-card.js"></script>
    <script src="/js/directives/nw-session.js"></script>

    <!-- Services -->
    <script src="/js/services/session.js"></script>

    <!-- Resources -->
    <script src="/js/resources/resource.js"></script>
    <script src="/js/resources/user.js"></script>

    <!-- Controllers -->
    <script src="/js/controllers/resource-index-controller.js"></script>
    <script src="/js/controllers/users-index-controller.js"></script>

  </body>
</html>
