<!-- Body content -->
<div class="container">
    <!-- Section goal -->
    <section class="row goal">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <h2 class="text-center">Tell us what you want to do</h2>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <!-- Single select dropdown-->
                    <select class="goal form-control">
                        <option>Just talk</option>
                        <option>Research career options</option>
                        <option>Change careers</option>
                        <option>Make something for a personal project/hobby</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!-- Section committment -->
    <section class="row committment">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <h2 class="text-center">How much time can you spend?</h2>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <!-- Single select dropdown-->
                    <select class="time-committment-options form-control">
                        <option>Full-time</option>
                        <option>Nights/weekends</option>
                        <option>On my own schedule</option>
                    </select>
                </div>
            </div>
    </section>
    <!-- Section interests -->
    <section class="row interests">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <h2 class="text-center">What are your interests?</h2>
                <div class=" col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <!-- Multiple dropdown -->
                    <select class="chosen chzn-select" multiple="true">
                        <option>Choose...</option>
                        <option>jQuery</option>
                        <option selected="selected">MooTools</option>
                        <option>Prototype</option>
                        <option selected="selected">Dojo Toolkit</option>
                    </select>
                </div>
            </div>
    </section>
    <!-- Section location -->
    <section class="row location">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <h2 class="text-center">Where are you located?</h2>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <!-- Single select dropdown -->
                    <select class="form-control">
                        <option>Chapel Hill, NC</option>
                        <option>Durham, NC</option>
                        <option>Raleigh, NC</option>
                        <option>Seattle, WA</option>
                        <option>Portland, OR</option>
                    </select>
                </div>
            </div>
        </div>
    </section>
    <!-- Section submit -->
    <section class="row submit">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <button class="get-recommendation btn btn-default" type="submit" ng-click="toggleRecs()">Get a Recommendation</button>
                </div>
            </div>
        </div>
    </section>
</div>
<div recs ng-show="recsShown"></div>



